# ROS2 build artifacts
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Editor artifacts
.vscode/
.idea/
*.swp
*~

# OS artifacts
.DS_Store
Thumbs.db

output.log
output3.log
output4.log
output5.log
output6.log
output_gripper.log

.gitgnore

move_to_pregrasp.urscript

/data
/dataa

/output

scripts/setup_network.sh